<div class="main__card">
    <div class="content content-intro" data-wrapper="main">
        <h1 class="animate">
            Software <br /> Developer
        </h1>
        <p class="animate">
            Hi, I'm Roy. I like to craft solid and scalable frontend products
            with great user experiences.
        </p>
        <div class="panel__container panel__animated">
            <div class="animate">
                <div class="float">
                    <div class="panel">
                        <div class="panel__header">
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <small class="noise"></small>
                        </div>
                        <div class="panel__content">
                            <div class="panel__left">
                                <div class="audio">
                                    <div class="animate audio-cover"></div>
                                    <h4 class="animate audio-title">
                                        Flower Boy
                                    </h4>
                                    <p class="animate audio-artist">
                                        Flower Boy
                                    </p>
                                    <div class="animate audio__controls">
                                        <svg
                                            width="18"
                                            height="18"
                                            viewBox="0 0 18 18"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M9 5.625C9.62132 5.625 10.125 5.12132 10.125 4.5C10.125 3.87868 9.62132 3.375 9 3.375C8.37868 3.375 7.875 3.87868 7.875 4.5C7.875 5.12132 8.37868 5.625 9 5.625Z"
                                                fill="white"></path>
                                            <path
                                                d="M9 10.125C9.62132 10.125 10.125 9.62132 10.125 9C10.125 8.37868 9.62132 7.875 9 7.875C8.37868 7.875 7.875 8.37868 7.875 9C7.875 9.62132 8.37868 10.125 9 10.125Z"
                                                fill="white"></path>
                                            <path
                                                d="M9 14.625C9.62132 14.625 10.125 14.1213 10.125 13.5C10.125 12.8787 9.62132 12.375 9 12.375C8.37868 12.375 7.875 12.8787 7.875 13.5C7.875 14.1213 8.37868 14.625 9 14.625Z"
                                                fill="white"></path>
                                        </svg>
                                        <svg
                                            width="18"
                                            height="18"
                                            viewBox="0 0 18 18"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M15 12.4481C15 12.8368 14.576 13.0768 14.2428 12.8769L8.49583 9.4287C8.17216 9.2345 8.17216 8.76541 8.49583 8.5712L14.2428 5.12305C14.576 4.92309 15 5.16315 15 5.5518V12.4481ZM7.78125 12.4481C7.78125 12.8368 7.35726 13.0768 7.024 12.8769L1.27708 9.4287C0.953408 9.2345 0.953408 8.76541 1.27708 8.5712L7.024 5.12305C7.35726 4.92309 7.78125 5.16315 7.78125 5.5518V12.4481Z"
                                                fill="white"></path>
                                        </svg>
                                        <svg
                                            width="18"
                                            height="18"
                                            viewBox="0 0 18 18"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M10.5 14.25V3.75H13.5V14.25H10.5ZM4.5 14.25V3.75H7.5V14.25H4.5Z"
                                                fill="white"></path>
                                        </svg>
                                        <div class="audio__bar"></div>
                                    </div>
                                    <div class="audio__equalizer"></div>
                                </div>
                                <small class="noise"></small>
                            </div>
                            <div class="panel__right">
                                <span class="animate"></span>
                                <span class="animate"></span>
                                <span class="animate"></span>
                                <div>
                                    <span class="animate"></span>
                                    <span class="animate"></span>
                                    <span class="animate"></span>
                                    <span class="animate"></span>
                                </div>
                                <small class="noise"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mini__card-wrapper">
                <div class="animate">
                    <div class="mini__card color1">
                        <small></small><span></span>
                    </div>
                </div>
                <div class="animate">
                    <div class="mini__card color2">
                        <small></small><span></span>
                        <i></i>
                    </div>
                </div>
                <div class="animate">
                    <div class="mini__card color3">
                        <small></small><span></span>
                    </div>
                </div>
            </div>
            <div class="mini__card-wrapper2">
                <div class="animate">
                    <div class="mini__card typo">
                        Aa <span></span>
                        <i></i>
                    </div>
                </div>
                <div class="animate">
                    <div class="mini__card shape">
                        <svg
                            width="30"
                            height="16"
                            viewBox="0 0 30 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle cx="5.25" cy="10.25" r="5.25" fill="white"
                            ></circle>
                            <path
                                d="M22.5 0.5L24.1839 5.68237H29.6329L25.2245 8.88525L26.9084 14.0676L22.5 10.8647L18.0916 14.0676L19.7755 8.88525L15.3671 5.68237H20.8161L22.5 0.5Z"
                                fill="white"></path>
                        </svg>
                        <span></span>
                        <i></i>
                    </div>
                </div>
            </div>
            <div class="mini__icon-wrapper">
                <div class="animate">
                    <div class="mini__icon icon">
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                        >
                            <path
                                d="M0 1.16667C0 0.522334 0.522334 0 1.16667 0C1.811 0 2.33333 0.522334 2.33333 1.16667V12.8333C2.33333 13.4777 1.811 14 1.16667 14C0.522334 14 0 13.4777 0 12.8333V1.16667Z"
                                fill="white"></path>
                            <path
                                d="M5.83333 1.16667C5.83333 0.522334 6.35567 0 7 0C7.64433 0 8.16667 0.522334 8.16667 1.16667V12.8333C8.16667 13.4777 7.64433 14 7 14C6.35567 14 5.83333 13.4777 5.83333 12.8333V1.16667Z"
                                fill="white"></path>
                            <path
                                d="M11.6667 1.16667C11.6667 0.522334 12.189 0 12.8333 0C13.4777 0 14 0.522334 14 1.16667V12.8333C14 13.4777 13.4777 14 12.8333 14C12.189 14 11.6667 13.4777 11.6667 12.8333V1.16667Z"
                                fill="white"></path>
                        </svg>
                        <small></small><span></span>
                        <i></i>
                    </div>
                </div>
                <div class="animate">
                    <div class="mini__icon icon2">
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                        >
                            <path
                                d="M0 1.16667C0 0.522334 0.522334 0 1.16667 0C1.811 0 2.33333 0.522334 2.33333 1.16667V12.8333C2.33333 13.4777 1.811 14 1.16667 14C0.522334 14 0 13.4777 0 12.8333V1.16667Z"
                                fill="white"></path>
                            <path
                                d="M5.83333 1.16667C5.83333 0.522334 6.35567 0 7 0C7.64433 0 8.16667 0.522334 8.16667 1.16667V12.8333C8.16667 13.4777 7.64433 14 7 14C6.35567 14 5.83333 13.4777 5.83333 12.8333V1.16667Z"
                                fill="white"></path>
                            <path
                                d="M11.6667 1.16667C11.6667 0.522334 12.189 0 12.8333 0C13.4777 0 14 0.522334 14 1.16667V12.8333C14 13.4777 13.4777 14 12.8333 14C12.189 14 11.6667 13.4777 11.6667 12.8333V1.16667Z"
                                fill="white"></path>
                        </svg>
                        <small></small><span></span>
                        <i></i>
                    </div>
                </div>
                <div class="animate">
                    <div class="mini__icon icon3">
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                        >
                            <path
                                d="M0 1.16667C0 0.522334 0.522334 0 1.16667 0C1.811 0 2.33333 0.522334 2.33333 1.16667V12.8333C2.33333 13.4777 1.811 14 1.16667 14C0.522334 14 0 13.4777 0 12.8333V1.16667Z"
                                fill="white"></path>
                            <path
                                d="M5.83333 1.16667C5.83333 0.522334 6.35567 0 7 0C7.64433 0 8.16667 0.522334 8.16667 1.16667V12.8333C8.16667 13.4777 7.64433 14 7 14C6.35567 14 5.83333 13.4777 5.83333 12.8333V1.16667Z"
                                fill="white"></path>
                            <path
                                d="M11.6667 1.16667C11.6667 0.522334 12.189 0 12.8333 0C13.4777 0 14 0.522334 14 1.16667V12.8333C14 13.4777 13.4777 14 12.8333 14C12.189 14 11.6667 13.4777 11.6667 12.8333V1.16667Z"
                                fill="white"></path>
                        </svg>
                        <small></small><span></span>
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        h1 {
            margin-top: 0;
        }

        .float {
            position: relative;
            -webkit-animation: float 5s linear infinite;
            animation: float 5s linear infinite;
            opacity: 1;
        }

        .main__card {
            grid-row: 1 / -1;
            overflow: hidden;
            padding: 3rem 2.5rem;
            position: relative;
        }
        .main__card:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -o-radial-gradient(
                    55% 54%,
                    circle,
                    rgba(0, 0, 0, 0),
                    #000
                ),
                url("../../assets/images/noise.svg");
            background: radial-gradient(
                    circle at 55% 54%,
                    rgba(0, 0, 0, 0),
                    #000
                ),
                url("../../assets/images/noise.svg");
            -webkit-filter: contrast(170%);
            filter: contrast(170%);
            mix-blend-mode: screen;
            opacity: 0.7;
        }

        .panel {
            width: 500px;
            margin: 3rem auto 0;
            -webkit-transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
            transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
        }

        .panel__container {
            position: relative;
        }

        .panel__header {
            background-color: #ddd;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: start;
            gap: 0.4rem;
            padding: 0.9rem 0.8rem;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel__header .noise {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-filter: contrast(120%) brightness(100%);
            filter: contrast(120%) brightness(100%);
            background: -o-radial-gradient(
                    -44% -20%,
                    circle,
                    rgb(238 240 237),
                    #ffffff00
                ),
                url("../../assets/images/noise.svg");
            background: radial-gradient(
                    circle at -44% -20%,
                    rgb(238 240 237),
                    #ffffff00
                ),
                url("../../assets/images/noise.svg");
        }

        .panel__header:before {
            content: "";
            background: #bbbbbb;
            position: absolute;
            z-index: -1;
            top: 4px;
            left: -5px;
            height: 50%;
            width: 5px;
            -webkit-transform: skewY(308deg);
            -ms-transform: skewY(308deg);
            transform: skewY(308deg);
            border-top-left-radius: 2px;
        }

        .panel__header .button {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
            position: relative;
            z-index: 2;
        }

        .panel__header .button:first-child {
            background-color: rgb(255 95 87);
        }

        .panel__header .button:nth-child(2) {
            background-color: rgb(254 187 46);
        }

        .panel__header .button:nth-child(3) {
            background-color: rgb(39 200 64);
        }

        .panel__content {
            height: 20.5rem;
            width: 100%;
            position: relative;
            top: -1px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .panel__content .noise {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-filter: contrast(120%) brightness(100%);
            filter: contrast(120%) brightness(100%);
        }

        .panel__left {
            width: 50%;
            position: relative;
            background-color: #ff964a;
            border-bottom-left-radius: 0.2rem;
        }

        .panel__left:before {
            content: "";
            background: -o-linear-gradient(45deg, #b9290a, #ff946e);
            background: linear-gradient(45deg, #b9290a, #ff946e);
            position: absolute;
            top: 4px;
            left: -5px;
            height: 100%;
            width: 5px;
            -webkit-transform: skewY(308deg);
            -ms-transform: skewY(308deg);
            transform: skewY(308deg);
            border-bottom-left-radius: 6px;
        }

        .panel__left:after {
            content: "";
            background: #9c1d00;
            position: absolute;
            bottom: -5px;
            right: 2px;
            height: 5px;
            width: 100%;
            -webkit-transform: skewX(318deg);
            -ms-transform: skewX(318deg);
            transform: skewX(318deg);
            border-top-left-radius: 1px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 5px;
        }

        .panel__left svg {
            width: 2rem;
            height: 2rem;
            padding: 0.2rem;
        }

        .panel__left .noise {
            background: -o-linear-gradient(rgb(208 61 5 / 0%), #c93403),
                url("../../assets/images/noise.svg");
            background: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from(rgba(255, 0, 0, 0)),
                    to(#b44a07)
                ),
                url("../../assets/images/noise.svg");
            background: linear-gradient(rgb(208 61 5 / 0%), #c93403),
                url("../../assets/images/noise.svg");
        }

        .panel__right {
            width: 50%;
            position: relative;
            padding: 1.5rem 1.1rem 1rem 3rem;
            background-color: #e8e6e6;
            border-top-right-radius: 1px;
            border-bottom-right-radius: 4px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 0.5rem;
        }

        .panel__right .noise {
            background: -o-linear-gradient(rgba(217, 217, 217, 0), #9e9e9e),
                url("../../assets/images/noise.svg");
            background: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from(rgba(217, 217, 217, 0)),
                    to(#9e9e9e)
                ),
                url("../../assets/images/noise.svg");
            background: linear-gradient(rgba(217, 217, 217, 0), #9e9e9e),
                url("../../assets/images/noise.svg");
        }

        .panel__right:after {
            content: "";
            background: #868686;
            position: absolute;
            bottom: -5px;
            right: 2px;
            height: 5px;
            width: 100%;
            -webkit-transform: skewX(318deg);
            -ms-transform: skewX(318deg);
            transform: skewX(318deg);
            border-bottom-right-radius: 1px;
        }

        .panel__right span {
            position: relative;
            z-index: 2;
            display: block;
            background: white;
            border-radius: 0.2rem;
            -webkit-box-shadow: -2rem 2rem 0 0 rgb(163 163 163 / 40%);
            box-shadow: -2rem 2rem 0 0 rgb(163 163 163 / 40%);
        }

        .panel__right span:not(:last-child) {
            position: relative;
            margin-bottom: 0.25rem;
        }

        .panel__right > span:nth-child(1) {
            width: 100%;
            height: 4.5rem;
        }

        .panel__right > span:nth-child(2) {
            width: 70%;
            height: 0.6rem;
        }

        .panel__right > span:nth-child(3) {
            width: 50%;
            height: 0.6rem;
            margin-bottom: 1.5rem;
        }

        .panel__right > div {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 0.5rem 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
        }

        .panel__right > div > span {
            width: 100%;
            height: 2rem;
        }
        .mini__card-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            position: absolute;
            top: 60px;
            left: -15px;
            z-index: 2;
        }
        .mini__card-wrapper2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            position: absolute;
            bottom: 18px;
            left: 130px;
            z-index: 2;
        }
        .mini__card {
            border-radius: 0.1rem;
            width: 3rem;
            height: 3rem;
            -webkit-transform: rotate3d(-8, 13, 3, -54deg);
            -ms-transform: rotate3d(-8, 13, 3, -54deg);
            transform: rotate3d(-8, 13, 3, -54deg);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
        }

        .mini__card:before {
            content: "";
            width: 100%;
            height: 0.3rem;
            background-color: rgb(227 227 227);
            -webkit-transform: skewX(44deg);
            -ms-transform: skewX(44deg);
            transform: skewX(44deg);
            position: absolute;
            top: -4px;
            left: -2px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 2px;
        }

        .mini__card:after {
            content: "";
            width: 0.35rem;
            height: 100%;
            background-color: rgb(227 227 227);
            -webkit-transform: skewY(45deg);
            -ms-transform: skewY(45deg);
            transform: skewY(45deg);
            position: absolute;
            top: -2px;
            left: -5px;
            border-bottom-left-radius: 1px;
            border-top-left-radius: 2px;
        }

        .mini__card > span {
            background-color: rgb(255 255 255);
            position: relative;
            display: block;
            width: 100%;
            height: 1rem;
            border-bottom-left-radius: 0.1rem;
        }

        .mini__card > span:after {
            content: "";
            background-color: rgb(227 227 227);
            position: absolute;
            top: 50%;
            left: 10%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 0.2rem;
            width: 50%;
        }

        .mini__card > i,
        .mini__icon > i {
            display: block;
            position: absolute;
            top: 2rem;
            left: 3.8rem;
            width: 100%;
            height: 0.02rem;
            background-color: rgb(255 255 255);
        }

        .mini__card > i:after,
        .mini__icon > i:after {
            content: "";
            background-color: rgb(255 255 255);
            width: 0.4rem;
            height: 0.4rem;
            position: absolute;
            top: 50%;
            right: 0;
            border-radius: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .mini__card.typo > i {
            width: 250%;
            height: 1px;
        }

        .mini__card.shape > i {
            width: 100%;
        }

        .mini__card.color2 > i {
            -webkit-transform: rotate(43deg);
            -ms-transform: rotate(43deg);
            transform: rotate(43deg);
            top: 110px;
            left: 20px;
            width: 290%;
        }

        .mini__card.color2 > i:after {
            top: -2px;
            right: -3px;
            width: 6px;
            height: 6px;
            -webkit-transform: translateY(-20%) skew(-50deg, 14deg);
            -ms-transform: translateY(-20%) skew(-50deg, 14deg);
            transform: translateY(-20%) skew(-50deg, 14deg);
        }

        .mini__icon > i {
            -webkit-transform: rotate(89deg);
            -ms-transform: rotate(89deg);
            transform: rotate(89deg);
            top: 4rem;
            left: -2rem;
            width: 520%;
            height: 1px;
        }

        .typo {
            font-family: serif;
            font-size: 1.6rem;
            color: white;
            background-color: rgb(39 200 64);
            position: relative;
            left: -110px;
            bottom: 0;
        }

        .shape {
            background-color: rgb(200 200 200);
            position: relative;
            left: -90px;
            bottom: -40px;
        }

        .shape > svg {
            height: 2rem;
        }

        .color1 {
            background-color: rgb(254 162 153);
            left: 0;
            top: 25px;
        }

        .color2 {
            background-color: rgb(244 65 65);
        }

        .color3 {
            background-color: rgb(255 150 74);
            left: -2px;
            top: -22px;
        }

        .mini__icon-wrapper {
            position: absolute;
            top: -45px;
            right: 270px;
            z-index: 2;
        }

        .mini__icon.icon {
            position: relative;
            right: 110px;
            top: 55px;
            -webkit-transform: rotate3d(57, 12, 30, -70deg);
            transform: rotate3d(57, 12, 30, -70deg);
        }

        .mini__icon.icon2 {
            position: relative;
            right: -175px;
            top: 40px;
            -webkit-transform: rotate3d(-150, 82, -150, -74deg);
            transform: rotate3d(-150, 82, -150, -74deg);
        }

        .mini__icon.icon3 {
            position: relative;
            right: -270px;
            top: 90px;
            -webkit-transform: rotate3d(-150, 82, -150, -74deg);
            transform: rotate3d(-150, 82, -150, -74deg);
        }

        .audio {
            position: relative;
            z-index: 2;
            padding: 1rem;
        }

        .audio__controls {
            position: relative;
            z-index: 2;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: rgb(255 255 255 / 7%);
            -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
            padding: 0 0.6rem;
            margin-top: 2rem;
            border-radius: 0.6rem;
        }

        .audio__bar {
            background-color: #e9731d;
            border-radius: 0.5rem;
            width: 100%;
            height: 0.2rem;
            margin-left: 0.5rem;
            overflow: hidden;
        }

        .audio__bar:before {
            content: "";
            display: block;
            width: 60%;
            height: inherit;
            background: -o-linear-gradient(45deg, #ffba89, #ffc296a1);
            background: linear-gradient(45deg, #ffba89, #ffc296a1);
        }

        .audio__bar:after {
            content: "";
            background-color: white;
            position: absolute;
            top: 50%;
            left: 70%;
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .audio-cover {
            width: 110px;
            height: 110px;
            border-radius: 5px;
            margin: 20px auto 15px auto;
        }

        .audio__equalizer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5rem;
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
            gap: 0.1rem;
            -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='4px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='2px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='4px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='2px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
        }

        .audio__equalizer > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }

        .audio__equalizer > *:nth-child(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
        }

        .audio__equalizer > *:nth-child(3) {
            -ms-grid-row: 1;
            -ms-grid-column: 5;
        }

        .audio__equalizer > *:nth-child(4) {
            -ms-grid-row: 1;
            -ms-grid-column: 7;
        }

        .audio__equalizer > *:nth-child(5) {
            -ms-grid-row: 1;
            -ms-grid-column: 9;
        }

        .audio__equalizer > *:nth-child(6) {
            -ms-grid-row: 1;
            -ms-grid-column: 11;
        }

        .audio__equalizer > *:nth-child(7) {
            -ms-grid-row: 1;
            -ms-grid-column: 13;
        }

        .audio__equalizer > *:nth-child(8) {
            -ms-grid-row: 1;
            -ms-grid-column: 15;
        }

        .audio__equalizer > *:nth-child(9) {
            -ms-grid-row: 1;
            -ms-grid-column: 17;
        }

        .audio__equalizer > *:nth-child(10) {
            -ms-grid-row: 1;
            -ms-grid-column: 19;
        }

        .audio__equalizer > *:nth-child(11) {
            -ms-grid-row: 1;
            -ms-grid-column: 21;
        }

        .audio__equalizer > *:nth-child(12) {
            -ms-grid-row: 1;
            -ms-grid-column: 23;
        }

        .audio__equalizer > *:nth-child(13) {
            -ms-grid-row: 1;
            -ms-grid-column: 25;
        }

        .audio__equalizer > *:nth-child(14) {
            -ms-grid-row: 1;
            -ms-grid-column: 27;
        }

        .audio__equalizer > *:nth-child(15) {
            -ms-grid-row: 1;
            -ms-grid-column: 29;
        }

        .audio__equalizer > *:nth-child(16) {
            -ms-grid-row: 1;
            -ms-grid-column: 31;
        }

        .audio__equalizer > *:nth-child(17) {
            -ms-grid-row: 1;
            -ms-grid-column: 33;
        }

        .audio__equalizer > *:nth-child(18) {
            -ms-grid-row: 1;
            -ms-grid-column: 35;
        }

        .audio__equalizer > *:nth-child(19) {
            -ms-grid-row: 1;
            -ms-grid-column: 37;
        }

        .audio__equalizer > *:nth-child(20) {
            -ms-grid-row: 1;
            -ms-grid-column: 39;
        }

        .audio__equalizer > *:nth-child(21) {
            -ms-grid-row: 1;
            -ms-grid-column: 41;
        }

        .audio__equalizer > *:nth-child(22) {
            -ms-grid-row: 1;
            -ms-grid-column: 43;
        }

        .audio__equalizer > *:nth-child(23) {
            -ms-grid-row: 1;
            -ms-grid-column: 45;
        }

        .audio__equalizer > *:nth-child(24) {
            -ms-grid-row: 1;
            -ms-grid-column: 47;
        }

        .audio__equalizer > *:nth-child(25) {
            -ms-grid-row: 1;
            -ms-grid-column: 49;
        }

        .audio__equalizer > *:nth-child(26) {
            -ms-grid-row: 1;
            -ms-grid-column: 51;
        }

        .audio__equalizer > *:nth-child(27) {
            -ms-grid-row: 1;
            -ms-grid-column: 53;
        }

        .audio__equalizer > *:nth-child(28) {
            -ms-grid-row: 1;
            -ms-grid-column: 55;
        }

        .audio__equalizer > *:nth-child(29) {
            -ms-grid-row: 1;
            -ms-grid-column: 57;
        }

        .audio__equalizer > *:nth-child(30) {
            -ms-grid-row: 1;
            -ms-grid-column: 59;
        }

        .audio__equalizer > *:nth-child(31) {
            -ms-grid-row: 1;
            -ms-grid-column: 61;
        }

        .audio__equalizer > *:nth-child(32) {
            -ms-grid-row: 1;
            -ms-grid-column: 63;
        }

        .audio__equalizer > *:nth-child(33) {
            -ms-grid-row: 1;
            -ms-grid-column: 65;
        }

        .audio__equalizer > *:nth-child(34) {
            -ms-grid-row: 1;
            -ms-grid-column: 67;
        }

        .audio__equalizer > *:nth-child(35) {
            -ms-grid-row: 1;
            -ms-grid-column: 69;
        }

        .audio__equalizer > *:nth-child(36) {
            -ms-grid-row: 1;
            -ms-grid-column: 71;
        }

        .audio__equalizer > *:nth-child(37) {
            -ms-grid-row: 1;
            -ms-grid-column: 73;
        }

        .audio__equalizer > *:nth-child(38) {
            -ms-grid-row: 1;
            -ms-grid-column: 75;
        }

        .audio__equalizer > *:nth-child(39) {
            -ms-grid-row: 1;
            -ms-grid-column: 77;
        }

        .audio__equalizer > *:nth-child(40) {
            -ms-grid-row: 1;
            -ms-grid-column: 79;
        }

        .audio__equalizer > span {
            background-color: #de5e0f;
            border-radius: 0.15rem;
            -webkit-animation: equalize 1.5s steps(5, start) infinite alternate;
            animation: equalize 1.5s steps(5, start) infinite alternate;
            will-change: transform;
        }

        .audio__equalizer > span:nth-child(2n) {
            -webkit-animation-name: equalize2;
            animation-name: equalize2;
            -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
            -webkit-animation-duration: 1800ms;
            animation-duration: 1800ms;
        }

        .audio__equalizer > span:nth-child(3n) {
            -webkit-animation-name: equalize3;
            animation-name: equalize3;
            -webkit-animation-delay: 350ms;
            animation-delay: 350ms;
            -webkit-animation-duration: 1700ms;
            animation-duration: 1700ms;
        }

        .audio-title {
            font-size: 1.3rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                sans-serif;
            color: #fff0e5;
            text-align: center;
            margin: 0;
        }

        .audio-artist {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                sans-serif;
            color: #be5b13;
            text-align: center;
            margin-top: 0.5rem;
        }

        @media screen and (max-width: 1320px) {
            .panel {
                width: 420px;
            }
            .panel__container {
                width: 580px;
            }
            .panel__content {
                height: 17rem;
            }
            .panel__right span {
                top: -38px;
                left: 14px;
            }
            .mini__card-wrapper {
                top: 35px;
                left: 10px;
            }
            .mini__card-wrapper2 {
                bottom: 15px;
                left: 150px;
            }
            .mini__icon-wrapper {
                top: -60px;
                right: 270px;
            }
            .audio-cover {
                height: 80px;
            }
        }

        @media screen and (max-width: 1024px) {
            .card {
                overflow: initial;
            }
            .panel__container {
                width: 370px;
                margin: 0 auto 5rem;
                transform: scale(0.9);
                left: -0.5rem;
            }
            .panel {
                width: 430px;
            }
            .panel__content {
                height: 17rem;
            }
            .panel__right {
                padding: 1.5rem 1.1rem 1rem 2rem;
            }
            .panel__right span {
                top: -38px;
                right: -24px;
            }
            .mini__card-wrapper {
                top: 25px;
                left: -50px;
            }
            .mini__card-wrapper2 {
                bottom: 5px;
                left: 75px;
            }
            .mini__icon-wrapper {
                top: -62px;
                right: 120px;
            }
            .mini__icon > i {
                top: 55px;
                left: -22px;
                width: 400%;
            }
            .audio-cover {
                margin: 0;
                height: 120px;
            }
        }

        @media screen and (max-width: 600px) {
            .card {
                height: 33rem;
                overflow: hidden;
            }
            .panel__container {
                width: 350px;
                margin: 0 auto;
            }
            .panel {
                width: 320px;
            }
            .panel__header {
                padding: 0.4rem 0.8rem;
            }
            .panel__content {
                height: 200px;
            }
            .panel__left svg {
                height: 1.3rem;
            }
            .panel__right {
                padding: 1px 4px 45px 30px;
            }
            .panel__right span {
                top: -12px;
            }
            .panel__right span:not(:last-child),
            .panel__right span:nth-child(3) {
                margin-bottom: 0;
            }
            .mini__card-wrapper,
            .mini__card-wrapper2 {
                transform: scale(0.6);
            }
            .mini__icon-wrapper {
                top: -65px;
                right: 150px;
                transform: scale(0.7);
            }
            .mini__icon.icon {
                right: 50px;
                top: 75px;
            }
            .mini__icon > i {
                top: 50px;
                left: -15px;
                width: 300%;
            }
            .audio-cover {
                margin: 0;
                height: 80px;
            }
            .audio-title {
                font-size: 0.8rem;
            }
            .audio-artist {
                margin-top: 0.3rem;
                font-size: 0.6rem;
            }
            .audio__controls {
                margin-top: 1rem;
            }
        }
    </style>
</div>
